#vars .cellSize {
  width: 25px;
}
html,
body {
  background-color: #555555;
  color: white;
}
#container {
  background-color: #272822;
  padding: 30px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #4d4d4d;
}
#boxBorder {
  overflow: hidden;
  border: 2px solid black;
  display: inline-block;
}
#box {
  border-left: 1px dotted #7e59b2;
  border-top: 1px dotted #7e59b2;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-color: #202020;
  vertical-align: bottom;
}
.cell {
  border-right: 1px dotted #7e59b2;
  border-bottom: 1px dotted #7e59b2;
  width: 24px;
  height: 24px;
  float: left;
  color: white;
  font-size: 11px;
  text-align: left;
}
.line {
  clear: both;
}
.cell[data-type="block"] {
  background-color: #48beef;
  color: black;
}
.controls {
  clear: both;
  float: left;
}
.controls label {
  clear: both;
}
.cell[data-type="block"][data-level]:before {
  content: attr(data-level);
}
.creep {
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  -webkit-transition: all 1s linear;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background-color: #6ac62e;
}
.moveDown {
  -webkit-transform: translate(0px, 20px);
}
.bullet {
  -webkit-transition: all .05s linear;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 3px;
  height: 3px;
  border: 1px solid black;
  background-color: #dc6321;
}
.range {
  background-color: #ccaadd;
}
