#box {
        border-left: 1px solid black;
        border-top: 1px solid black;
        float: left;
        overflow: hidden;
        position: relative;
}
.cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 19px;
    height: 19px;
    float: left;
    text-align: center;
    color: white;
    line-height: 20px;
}

.cell:hover {
    background-color: red;
}

.line {
    clear: both;
}

.path {
    background-color: #acd;
}

.cell[data-type="block"] {
    background-color: black;
}

.controls
{
    clear: both;
    float: left;
}

.controls label 
{
    clear: both;
}

.cell[data-type="block"][data-level]:before {
    content:attr(data-level);
}

.creep {
    position: absolute;
    top: 3px;
    left: 3px;

    -webkit-transition: all 1s linear;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    background-color: #dda;
}

.moveDown {
   -webkit-transform: translate(0px, 20px); 
}

.cell[data-type="tower"] {
    background-color: green;
}

.bullet {
    -webkit-transition: all .3s linear;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 4px;
    height: 4px;
    border: 1px solid black;
    background-color: #222;
}