#box {
        border-left: 1px solid black;
        border-top: 1px solid black;
        float: left;
}
.cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 20px;
    height: 20px;
    float: left;
}

.cell:hover {
    background-color: red;
}

.line {
    clear: both;
}

.checked {
    background-color: #ddd;
}

.path {
    background-color: #acd;
}